#
# docker-portainer-letsencrypt
# 
# Portainer configured to work along with our Web Proxy
# https://github.com/evertramos/docker-compose-letsencrypt-nginx-proxy-companion
#
# This is the .env file to set up your portainer enviornment

#
# Container name for your Portainer
#
CONTAINER_NAME=portainer

#
# Path where your Portainer files will be located
#
PORTAINER_DATA_PATH=/path/to/your/portainer/data

#
# Password for Admin user
#
ADMIN_PASSWORD=your_admin_password

#
# Your domain (or domains)
#
DOMAINS=portainer.domain.com,portainer2.domain.com

#
# Main domain for SSL certificate
#
MAIN_DOMAIN=portainer.domain.com

#
# Your email for Let's Encrypt register
#
LETSENCRYPT_EMAIL=your_email@domain.com

#
# Path to the certificates
# If you use our webproxy should be:
# /home/user/webproxy/data/certs
PORTAINER_SSL_PATH=/path/to/your/certs

#
# SSL Certificates previously generated
# You may use below webproxy to generate your ssl certificate
#(https://github.com/evertramos/docker-compose-letsencrypt-nginx-proxy-companion)
#
PORTAINER_SSL_CERTIFICATE=/certs/$MAIN_DOMAIN.crt
PORTAINER_SSL_KEY=/certs/$MAIN_DOMAIN.key

#
# Network name
# 
# Your container app must use a network conencted to your webproxy 
# https://github.com/evertramos/docker-compose-letsencrypt-nginx-proxy-companion
#
NETWORK=webproxy

#--

